@model VivaRevolution.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Join the digital revolution";
}

@section intro {
        <style>

        </style>
    
        <div class="promo-poster-container" id="pw-promo-poster-container">
            <img class="promo-poster shadow" src="~/Content/images/promo-poster.jpg" />
        </div>

        <div class="featured-posters-container" id="pw-featured-posters-container">
            <div class="blank poster"></div>
            <div id="slideshow">
                
                @foreach (var featurePoster in @Model.FeaturePosters)
                {                
                    <div class="poster shadow border slide">
                        <div class="poster-top">
                            <div class="quote large">@featurePoster.Quote</div>
                            <div class="name small">@featurePoster.Name@featurePoster.Title</div>
                            <div class="posterImg"><img src="~/Content/images/posterId/@featurePoster.ImagePath" /></div>
                        </div>
                        <div class="poster-tagline-container">
                            <div class="poster-tagline">
                                @featurePoster.TagLine
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div id="bullets">
                <div id="bullet1" class="navItem">&diams;</div>
                <div id="bullet2" class="navItem">&diams;</div>
                <div id="bullet3" class="navItem">&diams;</div>
            </div>
        </div>
}


<section class="top-rated mainBody" id="pw-top-rated">
    <h2>Top Rated</h2>

    @{ Html.RenderPartial("_listOfPosters", Model.TopRatedPosters); }

</section>

<section class="latest mainBody" id="pw-latest">
    <h2>Latest</h2>

    @{ Html.RenderPartial("_listOfPosters", Model.LatestPosters); }

</section>


@section scripts {
    <script type="text/javascript" src="~/Content/scripts/pw.jquery.PosterSlideShow.js"></script>
}