@model VivaRevolution.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Join the digital revolution";
}


@section intro {
        <div class="promo-poster-container" id="pw-promo-poster-container">
            <img class="promo-poster shadow" src="~/Content/images/promo-poster.jpg" />
        </div>

        <div class="featured-posters-container shadow border" id="pw-featured-posters-container">

            <div class="poster" id="pw-poster1">
                <div class="poster-top">
                    <div class="quote large">@Model.FeaturePoster.Quote</div>
                    <div class="name small">@Model.FeaturePoster.Name@Model.FeaturePoster.Title</div>
                    <div class="posterImg"><img src="~/Content/images/posterId/@Model.FeaturePoster.ImagePath" /></div>
                </div>
                <div class="poster-tagline-container">
                    <div class="poster-tagline">
                        @Model.FeaturePoster.TagLine
                    </div>
                </div>
            </div>

        </div>
}


<section class="latest mainBody" id="pw-latest">
    <h2>Latest</h2>

    @{ Html.RenderPartial("_listOfPosters", Model.LatestPosters); }

</section>

<section class="top-rated mainBody" id="pw-top-rated">
    <h2>Top Rated</h2>

    @{ Html.RenderPartial("_listOfPosters", Model.TopRatedPosters); }

</section>


@section scripts {
@*    <script type="text/javascript">
        $(".jqView").click(function (event) {
            event.preventDefault();
            

        });
    </script>*@
}