@model VivaRevolution.Domain.Entities.Poster

@{
    ViewBag.Title = "View";
}

@section intro {
    <div class="promo-poster-container" id="pw-promo-poster-container">
        <img class="promo-poster shadow" src="~/Content/images/promo-poster.jpg" />
    </div>

    <div class="featured-posters-container shadow border" id="pw-featured-posters-container">

        <div class="poster">
            <div class="poster-top">
                <div class="quote large">@Model.Quote</div>
                <div class="name small">@Model.Name@Model.Title</div>
                <div class="posterImg"><img src="~/Content/images/posterId/@Model.ImagePath" /></div>
            </div>
            <div class="poster-tagline-container">
                <div class="poster-tagline">
                    @Model.TagLine
                </div>
            </div>
        </div>

    </div>
}
