@model VivaRevolution.Domain.Entities.Poster

@{
    ViewBag.Title = @Model.Quote;
}

@section intro {
    <div class="promo-poster-container" id="pw-promo-poster-container">
        <img class="promo-poster shadow" src="~/Content/images/promo-poster.jpg" />
    </div>

    <div class="featured-posters-container" id="pw-featured-posters-container">
        <div id="slideshow">
            @if (@Model != null)
            {    
                Html.RenderPartial("_poster", Model);
            }
        </div>
    </div>
}
