<div class="nav" id="pw-nav">
    <a href="/"><img class="logo" id="pw-logo" src="~/Content/images/logo.gif" /></a>
    <ul>
        <li><a class="scroll" href="#pw-footer">ABOUT</a></li>
        <li><a class="scroll" href="#pw-footer">Create</a></li>
        @if (@Request.Url.ToString().Contains("View"))
        {
            <li><a href="/#pw-top-rated">Top Rated</a></li>
            <li><a href="/#pw-latest">Latest</a></li>
        }
        else
        {
            <li><a class="scroll" href="#pw-top-rated">Top Rated</a></li>
            <li><a class="scroll" href="#pw-latest">Latest</a></li>
        }

    </ul>
</div>