<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/posterWall.css" rel="stylesheet" />
    <link href="~/Content/css/850_24_col.css" rel="stylesheet" />
    <script src="~/Content/scripts/jquery-1.7.1.min.js"></script>
</head>

<body>
    <div class="page-wrapperTop"></div>
    <div class="page-wrapper">
        <section class="intro" id="pw-intro">

            @{ Html.RenderPartial("_layoutNavigation"); }

            @RenderSection("intro", required: true)

        </section>

        @{ Html.RenderPartial("_layoutSocialMedia"); }


        @RenderBody()


        @{ Html.RenderPartial("_layoutFooter", new VivaRevolution.Models.ViewModels.PosterViewModel()); }

        <section class="scripts" id="pw-scripts">
            <script type="text/javascript" src="~/Content/scripts/pw.Jquery.pageScroll.js"></script>
            <script type="text/javascript" src="~/Content/scripts/pw.jquery.createPosterForm.js"></script>
            @RenderSection("scripts", required: false)
        </section>
    </div>
</body>
</html>
