<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/posterWall.css" rel="stylesheet" />
    <script src="~/Content/scripts/jquery-1.7.1.min.js"></script>
</head>

<body>
    <div class="page-wrapperTop"></div>
    <div class="page-wrapper">



            @RenderBody()



        <section class="footer" id="pw-footer">
            <h2>Footer</h2>
        </section>
    </div>
</body>
</html>
