<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/960_24_col.css" rel="stylesheet" />
    <link href="~/Content/css/postaposter.css" rel="stylesheet" />
    <link href="~/Content/css/form.css" rel="stylesheet" />

    <script src="~/Content/scripts/jquery-1.7.1.min.js"></script>
</head>

<body>
    <div id="header">
        <div id="header-inner">
            <h1>
                <a class="logo" href="/">POST-A-POSTER</a>
            </h1>
            <ul id="nav">
                <li><a href="/">My Posters</a></li>
                <li><a href="/">Create</a></li>
                <li><a href="/poster/latest">Latest</a></li>
                <li><a href="/poster/latest">Top Rated</a></li>
            </ul>
        </div>
    </div>

    <div class="padForHeader">
        @RenderBody()
    </div>
    
</body>
</html>
